body {
	//background-color: #E4FFE7;
	padding-top: 70px;
}

body > nav .badge {
	background-color: #fff;
	color: #000;
	margin-left: 0.5em;
}

#actions {
	text-align: right;
}

h2 {
	font-size: 1.4em;
}

h2 a {
	color: #B5D2D7;
}

h2 a:focus {
	outline: 0;
}

.entry_body {
	display: none;
}

article.current .entry_body {
	display: block;
}

article.current h2 a {
	color: #008097;
}