body {
	padding-top: 70px;
}

body > nav .badge {
	background-color: #fff;
	color: #000;
	margin-left: 0.5em;
}

.navbar-collapse.collapse {
	padding: 0 10px;
}

#actions {
	text-align: right;
}

h2 {
	font-size: 1.4em;
	margin-top: 10px;
}
	h2 a {
		color: #B5D2D7;
	}
		h2 a:focus {
			outline: 0;
		}

article small {
	color: #ccc;
}

.entry_body {
	margin-top: 10px;
	display: none;
}
	article.current .entry_body {
		display: block;
	}

article.current h2 a {
	color: #008097;
}

#manage_feeds .well {
	margin-bottom: 0;
}

#manage_feeds .tab-content {
	max-height: 300px;
	overflow-y: auto;
}

#manage_feeds .modal-footer {
	margin-top: 0;
}

#manage_feeds .nav {
	margin-bottom: 1em;
}
